<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">MyApp</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            (click)="isCollapsed = !isCollapsed" aria-controls="navbarSupportedContent" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class=" navbar-collapse" id="navbarSupportedContent" [collapse]="isCollapsed" [isAnimated]="true">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" routerLink="/home" routerLinkActive="active">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="/signup" routerLinkActive="active">Signup</a>
                </li>

                <li class="nav-item" *ngIf="userService.getUserBehaviousSubject().getValue()==null">
                    <a class="nav-link" routerLink="/login" routerLinkActive="active">Login</a>
                </li>

                <li class="nav-item" *ngIf="userService.getUserBehaviousSubject().getValue()!==null">
                    <a class="nav-link" routerLink="/login" routerLinkActive="active"  (click)="userService.userLogout()">Logout</a>
                </li>
            </ul>

        </div>
    </div>
</nav>