<p class="display-1 text-center text-warning">User login</p>
<div class="row">


    <div class="col-12 col-sm-8 col-md-6 mx-auto">

        <!-- user registration error messages -->
        <p class="fw-bold text-center text-danger" *ngIf="registrationError.error">
            {{registrationError.errorMessage}}
        </p>
        
        <form [formGroup]="userLoginForm" #ref="ngForm" class=" mt-5 bg-light p-3"
            (ngSubmit)="ref.valid &&onFormSubmit()">


            <!-- username -->
            <div class="mb-3 form-floating">

                <input type="text" formControlName="username" id="username" class="form-control" placeholder="username">
                <label for="username">Username</label>

                <!-- username validation error msgs -->
                <div class="text-danger" *ngIf="username.invalid&&(username.dirty) ||username.touched ||ref.submitted">
                    <!-- error for reqired vialation -->
                    <p *ngIf="username.errors?.['required']"> Username is required</p>

                </div>



            </div>
            <!-- password -->
            <div class="mb-3 form-floating">
                <input type="password" formControlName="password" id="pw" class="form-control" placeholder="password">
                <label for="pw">Password</label>
                <!-- password validation error msgs -->
                <div class="text-danger" *ngIf="password.invalid&&(password.dirty) ||password.touched ||ref.submitted">
                    <!-- error for reqired vialation -->
                    <p *ngIf="password.errors?.['required']"> Password is required</p>

                </div>


            </div>



            <!-- submit btn -->
            <button class="btn btn-success w-100" type="submit">Login</button>

            <!-- link to signup component -->
            <!-- <p class="text-center mt-4">Not registered yet...
                <button class="btn btn-secondary" type="button" (click)="gotoSignup()">Signup</button> here
            </p> -->
        </form>
    </div>
</div>