<p class="display-4 text-center text-success">Adding new task</p>
<div class="row">


    <div class="col-12 col-sm-8 col-md-6 mx-auto">
        <form [formGroup]="addTaskForm" #ref="ngForm" class=" mt-5 bg-light p-3"
            (ngSubmit)="ref.valid &&onFormSubmit()">


            <!-- Task name -->
            <div class="mb-3 form-floating">

                <input type="text" formControlName="nameOfTask" id="nameOfTask" class="form-control"
                    placeholder="nameOfTask">
                <label for="nameOfTask">Name of task</label>

                <!-- username validation error msgs -->
                <div class="text-danger"
                    *ngIf="nameOfTask.invalid&&(nameOfTask.dirty) ||nameOfTask.touched ||ref.submitted">
                    <!-- error for reqired vialation -->
                    <p *ngIf="nameOfTask.errors?.['required']"> Task name is required</p>

                </div>



            </div>
            <!-- Date -->
            <div class="mb-3 form-floating">
                <input type="date" formControlName="date" id="date" class="form-control" placeholder="password">
                <label for="date">Date</label>
                <!-- password validation error msgs -->
                <div class="text-danger" *ngIf="date.invalid&&(date.dirty) ||date.touched ||ref.submitted">
                    <!-- error for reqired vialation -->
                    <p *ngIf="date.errors?.['required']"> Date is required</p>

                </div>


            </div>
            <!-- description -->
            <div class="mb-3 form-floating">

                <input type="text" formControlName="description" id="description" class="form-control"
                    placeholder="description">
                <label for="description">Description</label>
                <!-- email validation error msgs -->
                <div class="text-danger"
                    *ngIf="description.invalid&&(description.dirty) ||description.touched ||ref.submitted">
                    <!-- error for reqired vialation -->
                    <p *ngIf="description.errors?.['required']"> Description is required</p>

                </div>


            </div>



            <!-- submit btn -->
            <button class="btn btn-info w-100" type="submit">Add task</button>

            <!-- link to signup component -->
            <!-- <p class="text-center mt-4">Not registered yet...
                <button class="btn btn-secondary" type="button" (click)="gotoSignup()">Signup</button> here
            </p> -->
        </form>
    </div>
</div>